.custom-color {
    color: #26252d;
}

.custom-background-color {
    background-color: #26252d;
    color: white;
}

body {
    font-family: "Mate SC";
    margin: 0px 10px 0px 0px;
}


/* Add a black background color to the top navigation */

.topnav {
    display: block;
    overflow: hidden;
    float: right;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 18px;
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: white;
    color: #26252d;
}


/* Add a color to the active/current link */

.topnav a.active {
    background-color: #557D58;
    color: white;
}

#login {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: "Mate SC";
    font-size: 18px;
    background-color: #557D58;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#library {
    display: block;
    background: no-repeat center fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    opacity: 65%;
}

#home {
    width: 99vw;
    height: 90vh;
    background: url('library4.jpeg') no-repeat center fixed;
    background-size: cover;
}

.register {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
    font-family: "Mate SC";
    font-size: 20px;
    background-color: #557D58;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#bdp {
    text-align: center;
    text-shadow: 3px 3px #26252d;
    font-size: 48px;
}

#text {
    text-align: center;
    text-shadow: 1px 1px #26252d;
}

p {
    font-size: 20px;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /*Sit on bottom */
    padding-bottom: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 80%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #557D58;
    /* Fallback color */
    background-color: rgba(226, 246, 255, 0.4);
    /* Black w/ opacity */
}

.myModal {
    background-color: white;
}


/* Modal Content */

.modal-content {
    border: 1px solid #888;
    width: 50%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

input {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 8px 0;
    background-color: white;
}

#book {
    width: 50px;
    height: 50px;
    float: left;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
}